[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "hexastorm"
version = "0.1.0"
description = "amaranth framework for writing to a substrate with a laser"
authors = [
    { name = "Rik Starmans", email = "hstarmans@hexastorm.com" }
]
license = { file = "LICENSE.txt" }
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "amaranth-boards",
    "cairosvg>=2.7.1",
    "luna-usb",
    "numba>=0.56.4",
    "numpy>=1.19.5",
    "pillow>=11.2.1",
    "scipy>=1.10.1",
    "yowasp-nextpnr-ice40>=0.8.0.0.post621",
    "yowasp-yosys>=0.53.0.0.post912",
]

[dependency-groups]
dev = [
    "nbqa>=1.9.1",
    "pdm>=2.24.2",
    "pytest>=8.4.2",
    "ruff>=0.11.12",
]
plot = [
    "ipykernel>=6.29.5",
    "matplotlib>=3.6.3",
]
raspberry = [
    "opencv-python>=4.5.3.56",
]

[tool.ruff]
line-length = 88

[tool.ruff.format]
quote-style = "double"

[tool.pdm.scripts]
test = "python -m unittest discover -t . -s tests -v"

[tool.uv.sources]
luna-usb = { git = "https://github.com/greatscottgadgets/luna.git", rev = "6c7c93d6ff5bd2390f430949cea4baf6686f0f97" }
amaranth-boards = { git = "https://github.com/amaranth-lang/amaranth-boards.git", rev = "c26a72e59c786b38e0e989ae64c6c2560ca7c29c" }
