apio==0.5.4
certifi==2020.11.8
chardet==3.0.4
click==6.7
colorama==0.4.4
colorzero==1.1
gpiozero==1.5.1
idna==2.10
numpy==1.19.4
pkg-resources==0.0.0
PyJWT==1.7.1
pyserial==3.4
requests==2.25.0
semantic-version==2.8.5
smbus2==0.3.0
spidev==3.5
urllib3==1.26.2